node_modules
.svelte-kit
build
.output
.netlify

# Lockfiles from other package managers
package-lock.json
yarn.lock

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Vite cache
.vite
